.page {
  background-color: var(--page-bg-color);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 23px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

.header,
.footer {
  min-block-size: max(668px, 100vh);
  padding: 10px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: start;
}

.header__rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 19px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--decor-color);
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 4px 2px currentColor;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-inline-size: 70px;
  min-block-size: 26px;
  padding: 0 13px;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--menu-button-color);
  cursor: pointer;
  appearance: none;
  font-weight: 400;
  line-height: 18px;
}

.header__theme-menu-button:hover:not(:disabled) {
  border-color: var(--accent-color-transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  pointer-events: none;
}

.page-title {
  color: var(--page-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
}

.header__title {
  justify-self: start;
  align-self: center;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__text {
  max-inline-size: 355px;
  line-height: 23px;
  justify-self: end;
  align-self: end;
  margin-block-end: 56px;
  color: var(--title-decor-text-color);
  font-weight: 700;
}

.title-decor {
  display: block;
  background-color: var(--accent-color);
  color: var(--title-decor-text-color);
}

.content {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.content-section,
.gallery-section {
  display: grid;
  gap: 20px;
}

.content-section__title {
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.cards-list,
.advice {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.card__title,
.advice__title,
.gallery-section__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.card__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.card__text {
  color: var(--text-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__image_sunset {
  block-size: 142px;
}

.gallery__image_ice-cream {
  block-size: 355px;
}

.gallery__image_tape {
  block-size: 237px;
}

.gallery__image_books {
  block-size: 355px;
}

.gallery__image_street {
  block-size: 237px;
}

.footer {
  display: grid;
  place-items: center;
}

.footer__title {
  text-align: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header,
  .footer {
    padding: 20px;
  }

  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 29px;
  }

  .header__theme-menu {
    margin-block-start: 172px;
  }

  .header__text {
    inline-size: 364px;
    margin-block-end: 163px;
  }

  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .content {
    gap: 80px;
    padding: 60px 20px;
  }

  .content-section_split {
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
  }

  .content-section_split .content-section__title {
    grid-column: 1;
  }

  .content-section_split .cards-list,
  .content-section_split .advice {
    grid-column: 2;
  }

  .gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
  }

  .gallery__image_sunset,
  .gallery__image_ice-cream,
  .gallery__image_tape,
  .gallery__image_books,
  .gallery__image_street {
    block-size: 100%;
  }

  .gallery__image_sunset {
    grid-column: 1 / 3;
  }

  .gallery__image_ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__image_tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__image_books {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image_street {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr min-content;
  }

  .header__rec {
    inset-inline-end: 38px;
  }

  .header__theme-menu {
    grid-column: 1 / 4;
    justify-self: center;
    align-self: start;
    margin-block-start: 0;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .header__title {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    align-self: center;
  }

  .header__text {
    grid-column: 2 / 4;
    inline-size: 491px;
    margin-block-end: 114px;
  }

  .content-section_factors {
    grid-template-columns: 315px 1fr;
    column-gap: 20px;
    align-items: start;
  }

  .cards-list_factors {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .content-section_split {
    grid-template-columns: 315px 1fr;
  }

  .gallery {
    grid-template-rows: 260px 315px 433px;
  }
}
